@import url('https://use.typekit.net/npi8tkc.css');

body {
  color: $clr-brown-dark;
  font-family: $ff-body;
  font-size: 1.3125rem;
  font-weight: $fw-normal;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

.section__title,
.section__subtitle {
  font-family: $ff-title;
  line-height: 1;
}

.section__title {
  color: $clr-blue-dark;
  font-size: 4.75rem;
}

.section__subtitle {
  color: $clr-blue-light;
  font-size: 1.69rem;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
